.ourRootsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 45rem;
  /* padding-bottom: 10rem; */
  /* background-color: rgb(248, 248, 248); */
  position: relative;
}

.ourRootsContainer .backgroundImage {
  width: 100%;
  height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../images/ourRootsImage/image3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.ourRootsContainer .backgroundImage::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ourRootsContainer .header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20rem; */
  z-index: 1;
  position: absolute;
  top: 33rem;
}

.ourRootsContainer .header::before {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: white;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.ourRootsContainer .header h1 {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.ourRootsImage {
  z-index: 1111;
  padding-top: 10rem;
}

.ourRootsImage img {
  width: 70rem;
  border-radius: 5px;
}

.roots {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 6rem;
  /* padding-top: 5rem; */
}

.roots .index {
  width: 70rem;
  padding: 10px;
}

.roots .index p {
  font-size: clamp(1.4rem, 1.5rem + (0.5vw), 1.8rem);
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 2.6rem;
  /* text-align: center; */
}

.roots .index a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 500;
}

.roots .index a:hover {
  text-decoration: underline;
}

.rootImages {
  width: 70rem;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.rootImages img {
  width: 30rem;
  height: 50rem;
  border-radius: 3px;
  opacity: 0;
  box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.299);
  border-radius: 5px;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.rootImages .image1 {
  transform: translateX(-30%);
  opacity: 0;
}

.rootImages .image2 {
  transform: translateX(30%);
  opacity: 0;
}

.rootImages .visible1 {
  opacity: 1;
  transform: translateY(0%);
}

.rootImages .visible2 {
  opacity: 1;
  transform: translateY(0%);
}

@media screen and (max-width: 1024px) {
  .roots .index {
    width: 80rem;
    padding: 10px;
  }

  .roots .index p {
    font-size: clamp(1.4rem, 1.5rem + (0.5vw), 2rem);
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 2.6rem;
    text-align: center;
  }

  .roots {
    gap: 5rem;
    padding-top: 5rem;
    /* flex-direction: column-reverse; */
  }

  .rootImages {
    height: 50rem;
  }
}

@media screen and (max-width: 540px) {
  .ourRootsContainer .header::before {
    width: 15rem;
  }

  .ourRootsContainer .header h1 {
    font-size: 4rem;
  }

  .roots {
    gap: 5rem;
  }

  .roots .index {
    width: 45rem;
    padding: 10px;
  }

  .roots .index p {
    font-size: clamp(1.4rem, 1.5rem + (0.5vw), 2rem);
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 2.6rem;
    text-align: center;
  }

  .rootImages {
    height: 92rem;
    flex-wrap: wrap;
  }

  .rootImages img {
    width: 30rem;
    height: 45rem;
    border-radius: 3px;
    opacity: 0;
    box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.299);
    border-radius: 5px;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }


}

@media screen and (max-width: 430px) {
  .ourRootsContainer .header::before {
    width: 15rem;
  }

  .ourRootsContainer .header h1 {
    font-size: 4rem;
  }

  .roots {
    gap: 5rem;
  }

  .rootImages {
    height: 82rem;
    flex-wrap: wrap;
  }

  .rootImages img {
    width: 30rem;
    height: 40rem;
    border-radius: 3px;
    opacity: 0;
    box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.299);
    border-radius: 5px;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
}

@media screen and (max-width: 414px) {
  .ourRootsContainer .header::before {
    width: 15rem;
  }

  .ourRootsContainer .header h1 {
    font-size: 4rem;
  }

  .roots {
    gap: 5rem;
  }

  .rootImages {
    height: 62rem;
    flex-wrap: wrap;
  }

  .rootImages img {
    width: 20rem;
    height: 30rem;
    border-radius: 3px;
    opacity: 0;
    box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.299);
    border-radius: 5px;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
}
